DATABASE_DRIVER=example_driver
POSTGRES_HOST=example_host
POSTGRES_PORT=example_port
POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password
POSTGRES_DB=example_db

PGADMIN_PASSWORD=example_pass
PGADMIN_EMAIL=admin@example.com

# Выбор логгера: dev, json, tskv
LOGGER_TYPE=dev